a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
br.br {
    border: solid 50px black;
}
h1.Homework {
    position: static;
    text-align: center;
    height: 20px;
}
h1.Geography{
    position: static;
    text-align: center;
    height: 20px;
}
h2.sea {
    text-align: center;
    padding-top: 10px;
}
.window {
    overflow: scroll;
    height: 770px;
}
img.next-page {
    width: 150px;
    height: auto;
    float: right;
}
img.last-page {
    width: 150px;
    height: auto;
    float: left;
}
.img-sea {
    height: auto;
    width: 500px;
    position: absolute;
    bottom: 125px;
    right: 525px;
}
.img-sea2 {
    position : absolute;
    left : 1050px;
    bottom: 200px;
    height: auto;
    width: 400px;
}
.img-sea3 {
    position: absolute;
    left : 1020px;
    bottom: 125px;
    height: auto;
    width: 450px;
}
.img-sea4 {
    position: absolute;
    left: 600px;
    bottom: 125px;
    height: auto;
    width: 400px;
}
h2.right {
    text-align: right;
}
p.right {
    text-align: right;
}